*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContainer{
    display: flex;
}

.menu{
    min-width: 10vw;
}

.SubscriptionPlans{
    width: 90vw;
}

@media (max-width: 991px) {
    .SubscriptionPlans{
        width: 100vw;
    }
}